# Copy to .env and paste your Fireworks API key (https://fireworks.ai/account/api-keys)
FIREWORKS_API_KEY= "your_api_key_here"
FIREWORKS_MODEL=accounts/fireworks/models/gpt-oss-120b # change to gemma3- 12b -instruct
